
@media screen and (min-width: 768px) {

    #Name {
        width: 40%;
        position: relative;
        left: 2%;
        float: left;
    }

    #nav {
        height: 62px;
    }

    #nav div {
        padding: 2%;
        max-width: 18%;
        position: relative;
        left: 28%;
    }

    #nav div a {
        width: min-content;
    }

    #img {
        float: left;
        max-width: 60%;
        max-height: 60%;
    }

    #text {
        padding-top: 0px!important;
        max-width: 46%;
    }

    #card {
        max-width: 50%;
    }
}